.resetwrapper {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    font-family: var(--primary-font);

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('https://w0.peakpx.com/wallpaper/991/621/HD-wallpaper-palestine-gaza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.resetwrapper .loginform {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.resetwrapper .loginform form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.resetwrapper header {
    color: #CE1126; /* Red color */
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.resetwrapper span {
    color: #FFFFFF; /* White color */
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.resetwrapper .input-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.resetwrapper .flex-fields {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.resetwrapper .flex-fields .input-field {
    width: 48%;
}

.resetwrapper .input-field .input {
    font-family: var(--primary-font);
    height: 40px;
    border: 2px solid #007A3D; 
    border-radius: 8px;
    color: #000; 
    padding: 10px 10px 10px 30px;
    background: rgba(255, 255, 255, 0.9); 
    transition: border-color 0.3s;
    text-align: left;
}

.resetwrapper .input-field .input:focus {
    border-color: #CE1126; 
}

.resetwrapper .input-field i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #CE1126; 
}

.resetwrapper .input-field p {
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin: 5px 0 0;
}

.resetwrapper .submit-field {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.resetwrapper .submit {
    font-family: var(--primary-font);
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    height: 45px;
    padding: 0 20px;
    outline: none;
    width: 100%;
    background: #007A3D; 
    color: #FFFFFF; 
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    line-height: 45px;
}

.resetwrapper .submit:hover {
    background: #00592C; 
}

@media only screen and (max-width: 768px) {
    .resetwrapper .loginform {
        width: 90%;
        min-height: 100vh;
        border-radius: unset;
        padding: 20px;
    }

    .resetwrapper header {
        margin-bottom: 20px;
    }

    .resetwrapper .loginform form {
        gap: 10px;
    }

    .resetwrapper .submit {
        padding: 0;
    }

    .resetwrapper .flex-fields {
        display: flex;
        justify-content: unset;
        flex-direction: column;
        gap: 10px;
    }

    .resetwrapper .flex-fields .input-field {
        width: unset;
    }

    .resetwrapper .submit-field {
        flex-direction: column;
        width: 100%;
    }

    .resetwrapper .submit {
        width: 100%;
        margin-bottom: 10px;
    }
}
